---
---

$yellow:  hsl(48, 100%, 67%);
$green:	  hsl(141, 71%, 48%);
$white:	  hsl(196, 24%, 81%);
$success: $green;
$warning: $yellow;
$primary: #4d7084;
$info: #1d6086;
// Import Main CSS file from theme
@import "main";