---
---

$yellow:  hsl(48, 100%, 67%);
$green:	  hsl(141, 71%, 48%);
$white:	  hsl(271, 24%, 81%);
$black:	  hsl(273, 64%, 32%);
$success: $green;
$warning: $yellow;
$primary: #694d84;
$info: #3c1d86;
// Import Main CSS file from theme
@import "main";